<div class="card-presentation d-block m-auto col-10 text-center">
<mat-tab-group>
    <mat-tab label="Moi">
    <p class="mat-tab">
        Nya Zakaria, né dans la belle ville de Fez, au Maroc, il y a de ça {{age}} ans. Je suis arrivé en France à l'âge de 9 ans.
        Je suis donc un éléve de l'école républicaines. Je partages les mêmes valeurs. C'est un honneur pour moi que vous lisiez
        ces mots. Je suis un grand passioné de sociologie, de philosophie, de démographie, et d'économie politique. Un auteur
        favoris : Michel Foucault. Vous trouvez que ça n'a rien a voir avec le web. Vous avez raison, en partie. Ma licence
        en science humaines et sociale me permet, aujourd'hui, de mieux guider mes formulaires et questionnaires quand je suis
        en train de pratiquer mon autre passion: le Web.
        Mes premières lignes de web dates de 2015, sur OpenClassroom's. J'ai fait la rencontre du HTML et CSS avec Mathieu Nebras. 
        Depuis, il se passe pas un jour sans que j'ai à visiter, ou je visite Medium, FreeCodeCamp, Dyma, Codacademy, la MDN et tant d'autres.
        Je suis aussi un grand fan de jeux videos. J'ai une Xbox One. Destiny 1 et 2, Assassin's Creed Black Flag, et Far cry 4 sont mes jeux favoris.
        J'aime aussi visionner WestWorld, Silicon Valley. Mes films préférés sont ceux de Tarentino, Pulp Fiction reste une référence.
    </p>
    </mat-tab>
    <mat-tab label="Mes Formations">
        <p class="mat-tab">
        En 2010, j'ai obtenu le fameux sésame le Baccalaureat économique et sociale, mention assez bien.
        Paris Descartes m'a ouvert ses portes, et j'ai pu obtenir en 2014, ma Licence Sciences Humaines et Sociales mention sociologie.
        De nombreux questionnaires, enquêtes qualitatives et quantitatives sont passés entre mes doigts et mon clavier. 
        En 2017, je rentre à Hetic, Ecole de l'Internet, à Montreuil. Première année validée avec un stage de 3 mois.
        En 2018, j'ai validé une formation de développement mobile GRPG Formation, où j'ai fait le rencontre aussi 
        de la richesse humaine, et où, j'ai appris les valeurs de partages, et de communauté.
        Mais ma plus grande formation reste avec MOI-MÊME, tous les jours je me forme avec des tutos, et formation en ligne. 
        </p>
    </mat-tab>
    <mat-tab label="& Mes Experiences">
        <p class="mat-tab">
        J'ai principalement 3 grandes expériences dans le monde professionnel ;
        une 1ère expérience chez une grande entreprise de fast food. Pendant 4 ans, j'ai travaillé sous cette enseigne pour avoir un peu d'argent de poche, le temps de passer ma licence.
        2eme expérience. 3 mois chez IP COM FRANCE, en tant que développeur Web. Où j'ai eu l'occasion de refaire la refonte intégrale de leur site vitrine. 
        Par là, j'ai pu consolider mon travail dans le monde professionnel, et de l'entreprise. 
        De ces 3 mois, IP COM FRANCE a fait appel à mes services, pour 3 autres mois, prolongeant ainsi mon experience au sein de cette petite TPE.
        Enfin, pas des moindre, peut etre la plus belle expérience de developpement que j'ai eu la chance de vivre jusqu'à ici :
        CALMEDICA, en tant que stagiaire, j'ai eu l'occasion de toucher à tout, de faire du front end en retouchant ce qui était déjà là.
        Apportant mon aide sur les éléments de vue, avec le CSS, puis le Javascript Vanilla, et jQuery.
        Je les remercie tous de m'avoir fait confiance. 
        </p>
    </mat-tab>
  </mat-tab-group>
</div>
