<div class="col-8 d-block m-auto contact-form">
  <div class="text-center">
    <p class="h3">
      Contactez moi pour tout renseignement sur mon profil
    </p>
    <p  class="h4 mt-5">
      <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> &nbsp;
      <a href="mailto:nyazak@gmail.com" target="_blank">Par Email</a> 
    </p>
    <p  class="h4 mt-5">
        <i class="fa fa-phone fa-2x" aria-hidden="true"></i> &nbsp;
        <a href="callto: +33610710221">06 10 71 02 21</a>
    </p>
    </div>
    </div>